@import url('https://fonts.cdnfonts.com/css/trajan-pro');

.bgcolor.scrolled {
    background-color: #00000074;
}

.bg-img {
    background-image: url("../image/saboo-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 200vh; */
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

.logo {
    width: 8vh;
    height: 8vh;
    /* padding-right: 10px; */
}

.nav-inner {
    padding: 0px;
}

.col-title {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: rgb(1, 108, 127);
    margin: 0px;
}

.owl-carousel {

    position: relative;

}

.owl-carousel .owl-item img {
    height: 100vh;
    align-items: center;
}

.anjuman-title {
    letter-spacing: 4px;
    font-size: 16px;
}

.header {
    background-color: #f5f5f5;
    border-top: 7px solid brown;
}

.navbar-menu {
    background-color: #016c7f00;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 10;
    /* padding-top: 0px; */

}



.college-text {
    font-size: 19px;
}


.contact {
    padding-left: 130vh;
    text-decoration: none;
    padding-top: 15px;
}

.fa-phone {
    color: white;
    border: 10px solid green;
    border-radius: 80px;
    background-color: green;
    padding: 4px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: bold;
}



.number {
    font-size: 21px;
    color: black;
}

.nav-link:hover {
    background-color: rgb(0, 153, 150);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.login-form {
    border-radius: 30px;
    padding: 5vh;
    padding-top: 15vh;
}

.login-sec {
    height: 100vh;
}

.login {
    text-align: center;
    font-size: 2vh;
    padding-right: 7vh;
}

.title-login {
    font-size: 4vh;
    letter-spacing: 1px;
}

.login-col {
    font-size: 23px;
}

.col-title-login {
    font-size: 4vh;
}

.login-div-form {
    padding: 6vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    border: 5px solid brown;
}

.admin-title {
    padding-top: 4vh;
    font-size: 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(22, 22, 22);
}

.admin-portal-form,
.banner-form {
    border: 3px solid brown;
    border-radius: 20px;
    padding: 30px;
}

.btn-submit {
    border: 1px solid brown;
}

.btn-submit:hover {
    background-color: brown;
    color: white;
}

.mhssce-img {
    width: 45vh;
    border-radius: 20px;
}

.title-form {
    font-size: 25px;
    font-weight: bold;
}

.member-table,
.event-table {
    border: 5px solid rgb(0, 153, 150);
    padding: 20px;
    border-radius: 20px;
}

.form-text {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}


.owl-img-1:hover {
    border: solid red 5px;
}


.owl-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hover-con:hover .image {
    opacity: 0.3;
}

.hover-con:hover .middle {
    opacity: 1;
}

.img-text {
    border: 5px solid rgb(7, 255, 205);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #00459f98;
    color: rgb(255, 175, 16);
    /* font-size: 16px; */
    /* padding: 30px 32px 0px 32px; */
    margin-top: 540px;
    font-size: 25px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Trajan Pro', sans-serif;
    font-style: italic;
}

.hover-tit {
    color: greenyellow;
}


@media only screen and (max-width: 787px) {

    .col-title {
        font-size: 10px;
    }

    .anjuman-title {
        font-size: 9px;
    }

    .college-text {
        font-size: 8px;
    }

    .mhssce-img {
        padding-bottom: 20px;
    }

    .anjuman-title {
        letter-spacing: 1px;
    }

    .number {
        font-size: 15px;
        padding-left: 12px;
    }

    .contact {
        display: flex;
        align-items: center;
        padding-top: 0px;
    }

    .logo {
        height: 7vh;
        width: 7vh;
        padding-top: 0px;
        padding-bottom: 15px;
        margin-right: 8px;
    }

    .contact {
        padding-left: 15px;
    }

    .login-div-form {
        padding: 0vh;
        padding-top: 2vh;
        margin: 4vh 4vh 4vh 4vh;
    }

    .login-form {
        padding-top: 5vh;
    }

    .login {
        padding-right: 0px;
    }


    .owl-carousel .owl-item img {
        height: 40vh;
    }

    .img-text {
        border: 5px solid rgb(7, 255, 205);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #00459f98;
        color: rgb(255, 175, 16);
        /* font-size: 16px; */
        /* padding: 30px 32px 0px 32px; */
        margin-top: 178px;
        font-size: 7px;
        width: 100%;
        text-transform: uppercase;
        font-family: 'Trajan Pro', sans-serif;
        font-style: italic;
    }


}