@import url('https://fonts.cdnfonts.com/css/trajan-pro');

.login-body{background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo-form{
    height: 46vh;
    padding-top: 13px;
}

.bgcolor.scrolled {
    background-color: #00000074;
}

.bg-img {
    background-image: url("../image/saboo-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 200vh; */
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

.logo {
    width: 8vh;
    height: 8vh;
    /* padding-right: 10px; */
}

.nav-inner {
    padding: 0px;
}

.col-title {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: rgb(1, 108, 127);
    margin: 0px;
}

.owl-carousel {

    position: relative;

}

.owl-carousel .owl-item img {
    height: 100vh;
    align-items: center;
}

.anjuman-title {
    letter-spacing: 4px;
    font-size: 16px;
}

.header {
    background-color: #f5f5f5;
    border-top: 7px solid brown;
}

.navbar-menu {
    background-color: #016c7f00;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 10;
    /* padding-top: 0px; */

}



.college-text {
    font-size: 19px;
}


.contact {
    padding-left: 130vh;
    text-decoration: none;
    padding-top: 15px;
}

.fa-phone {
    color: white;
    border: 10px solid green;
    border-radius: 80px;
    background-color: green;
    padding: 4px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: bold;
}



.number {
    font-size: 21px;
    color: black;
}

.nav-link:hover {
    background-color: rgb(0, 153, 150);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.login-form {
    border-radius: 30px;
    padding: 5vh;
    padding-top: 15vh;
}

.login-sec {
    height: 100vh;
}

.login {
    text-align: center;
    font-size: 2vh;
    padding-right: 7vh;
}

.title-login {
    font-size: 4vh;
    letter-spacing: 1px;
}

.login-col {
    font-size: 23px;
}

.col-title-login {
    font-size: 4vh;
}

.login-div-form {
    padding: 6vh;
    margin-top: 18vh;
    margin-bottom: 3vh;
    border: 5px solid brown;
}

.admin-title {
    padding-top: 4vh;
    font-size: 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(22, 22, 22);
}

.admin-portal-form,
.banner-form {
    border: 3px solid brown;
    border-radius: 20px;
    padding: 30px;
}

.btn-submit {
    border: 1px solid brown;
}

.btn-submit:hover {
    background-color: brown;
    color: white;
}

.mhssce-img {
    width: 45vh;
    border-radius: 20px;
}

.title-form {
    font-size: 25px;
    font-weight: bold;
}

.member-table,
.event-table {
    border: 5px solid rgb(0, 153, 150);
    padding: 20px;
    border-radius: 20px;
}

.form-text {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}


.owl-img-1:hover {
    border: solid red 5px;
}


.owl-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hover-con:hover .image {
    opacity: 0.3;
}

.hover-con:hover .middle {
    opacity: 1;
}

.img-text {
    border: 5px solid rgb(7, 255, 205);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #00459f98;
    color: rgb(255, 175, 16);
    /* font-size: 16px; */
    /* padding: 30px 32px 0px 32px; */
    margin-top: 500px;
    font-size: 25px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Trajan Pro', sans-serif;
    font-style: italic;
}

.hover-tit {
    color: greenyellow;
}

.owl-carousel .owl-nav {
    text-align: center;
    font-size: 20;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -300px;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background-color: rgba(100, 0, 0, 0);
    border: solid 2px rgb(6, 6, 6);
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    /* background-color: rgba(255, 237, 71, 0.651); */
    /* border-radius: 50%; */
    border: 2px solid rgb(255, 153, 0);
    border-radius: 30%;
    height: 50px;
    width: 50px;
    margin: 10px 5px;
    color: rgb(11, 129, 0);
    /* font-size: 30px; */
}

.owl-dots {
    text-align: center;
}

.owl-dots button.owl-dot.active span,
.owl-dots button.owl-dot:hover span {
    background-color: #feae00;
    border-radius: 20%;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 1px;
    left: 1px;
}

.owl-dots button.owl-dot {
    border: 1px solid gray;
    background: white;
    border-radius: 20%;
    height: 16px;
    width: 16px;
    position: relative;
    top: -117px;
    margin: 10px;

}

/* .news-bg{
    
} */

.news {
    box-shadow: inset 0 -15px 30px rgb(91, 49, 255), 0 5px 10px rgba(0,0,0,0.5);
    width: 350px;
    height: 30px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 4px;
    padding: 3px;
    -webkit-user-select: none;
    user-select: none;
} 

.row-news {
    margin-right: 0px;
}

.full-width{
    width: 90%;
}

.news span {
    float: left;
    color: rgb(252, 247, 255);
    padding: 3px;
    position: relative;
    top: 1%;
    border-radius: 4px;
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
    font: 16px 'Source Sans Pro', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer
}
  
.news ul {
    float: left;
    padding-left: 20px;
    /* animation: ticker 10s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    animation: ticker 2s;
    -webkit-user-select: none;
    user-select: none;
}

.news ul li {line-height: 25px; list-style: none }

.news ul li a {
    color: rgb(85, 0, 0);
    text-decoration: none;
    font: 14px Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    user-select: none;
}

@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -30px}
	50%  {margin-top: -60px}
	75%  {margin-top: -90px}
	100% {margin-top: 0}
}


.history-founder {
    color: rgb(214, 153, 11);
    font-weight: bold;
    background-color: rgba(0, 255, 255, 0.785);
}

.history-img {
    height: 75vh;
   
}

.founder-text{
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(74, 0, 116);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: justify;
    background: rgb(255,215,31);
    padding: 30px;
background: linear-gradient(90deg, rgba(255,215,31,0.8940826330532213) 0%, rgba(81,228,255,0.8016456582633054) 51%, rgba(98,0,255,0.6671918767507004) 100%);
}

.founder-img{
    width:102vh;
    height: 88vh;
}

.title-news{
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;;
}


.title-founder{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* font-size: 20px; */
}

.events-1{
    height: 105vh;
}
    
.admin-body{
    padding-top: 20px;
}

body{
    /* margin-top:20px; */
    color: #ccc;
    background-color: #f1f2f7;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.profile-information .profile-pic img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid #f1f2f7;
    margin-top: 20px;
}

.profile-information .profile-desk h1 {
    color: #1fb5ad;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.profile-information .profile-desk {
    border-right: 1px solid #ddd;
    padding-right: 30px;
}

.btn-primary {
    background-color: #1fb5ad;
    border-color: #1fb5ad;
    color: #FFFFFF;
}

.act-content{
    padding:40px;    
}

.recent-act h1 {
    text-align: center;
    color: #1fb5ad;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.activity-icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    margin: 20px auto 20px;
    position: relative;
}

.activity-icon.terques {
    background: #8fd6d6;
}

.activity-icon {
    background: #C7CBD6;
}

.recent-act:before {
    background-color: #eeeeee;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 50px;
    width: 2px;
    z-index: 0;
}

.activity-desk {
    padding: 15px 30px;
    background: #f2f2f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    text-align: center;
}

.activity-desk h2 {
    color: #1fb5ad;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.events-title{
    font-size: 25px;
    color: blueviolet;
    font-weight: bold;
}

.events{
    height: 550px;
    overflow-y: scroll;
}

.event-text{
    font-style: italic;
    color: #b46f00;
}

#more {display: none;}

@media only screen and (max-width: 787px) {

    .col-title {
        font-size: 10px;
    }

    .anjuman-title {
        font-size: 9px;
    }

    .college-text {
        font-size: 8px;
    }

    .mhssce-img {
        padding-bottom: 20px;
    }

    .anjuman-title {
        letter-spacing: 1px;
    }

    .number {
        font-size: 15px;
        padding-left: 12px;
    }

    .contact {
        display: flex;
        align-items: center;
        padding-top: 0px;
    }

    .logo {
        height: 7vh;
        width: 7vh;
        padding-top: 0px;
        padding-bottom: 15px;
        margin-right: 8px;
    }

    .contact {
        padding-left: 15px;
    }

    .login-div-form {
        padding: 0vh;
        padding-top: 2vh;
        margin: 4vh 4vh 4vh 4vh;
    }

    .login-form {
        padding-top: 5vh;
    }

    .login {
        padding-right: 0px;
    }


    .owl-carousel .owl-item img {
        height: 40vh;
    }

    .img-text {
        border: 5px solid rgb(7, 255, 205);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #00459f98;
        color: rgb(255, 175, 16);
        /* font-size: 16px; */
        /* padding: 30px 32px 0px 32px; */
        margin-top: 178px;
        font-size: 7px;
        width: 100%;
        text-transform: uppercase;
        font-family: 'Trajan Pro', sans-serif;
        font-style: italic;
    }


}