<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>M. H. Saboo siddique College Of Engineering</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/trajan-pro" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/chocolatebox" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <section class="container-fluid navbar-menu">
        <nav class="navbar navbar-expand-lg fixed-top bgcolor">
            <div class="container-fluid nav-inner">
                <div class="d-flex w-50">
                    <img class="navbar-brand logo img-fluid"
                        src="{{ url_for('static', filename='image/msssce_logo.png') }}" alt="logo_img">
                    <h1 class="col-title"><span class="anjuman-title text-success">Anjuman-I-Islam's
                            <br></span> <span> M. H. SABOO SIDDIK </span> <br> <span class="college-text">COLLEGE OF
                            ENGINEERING</span>
                    </h1>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-left navbar-menu w-100 justify-content-end"
                    id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item px-1">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="#">Department</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="#">TPO</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="#">Alumni</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="#">Faculties</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="#">Admission</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Examinations
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Timtable</a></li>
                                <li><a class="dropdown-item" href="#">Exam Results</a></li>
                                <li><a class="dropdown-item" href="#">Exam Notices</a></li>
                            </ul>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="#">Payment</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="/userlogin">Login</a>
                        </li>
                        <li class="nav-item px-1">
                            <a class="nav-link" href="/userlogout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </nav>
    </section>


    <section class="events-1">
        <div class="owl-carousel owl-theme">
            {% for _banner in banner_config %}
            <div class="item">
                <div class="hover-con">
                    <img src="{{ url_for('static', filename=_banner['image']) }}" alt="eve_1" class="owl-img-1">
                    <div class="middle">
                        <div class="img-text"><b>{{ _banner['text'] }}</b>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <p class="text-center title-founder img-fluid">FOUNDER</p>
            <div class="col-lg-6">
                <div class="founder-img">
                    <img src="static/image/Mohammed-Haji_saboo.jpg" alt="founder_img"
                        class="img-fluid founder-img justify-content-center">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="founder-text">"The Mohammed Haji Saboo Siddik Institute (A Muslim Minority
                    Institution) owes
                    its existence to the munificence of late Mohammed, son of Haji Saboo Siddik, who bequeathed a large
                    sum of money for establishing, conducting and managing this Institution for imparting Vocational,
                    Technical and Industrial training and education. The
                    value of the assets, so bequeathed, exceeded
                    Rupees Three Crore at the time of donation.

                    The Institution is managed and administrated by the Anjuman-i-Islam as the sole trustee,
                    appointed
                    by the Bombay High Court's decree and scheme framed and sanctioned thereunder.

                    The very well laid out college building accommodates workshops, laboratories, classrooms,
                    lecture
                    halls, drawing halls, students' common room, seminar hall, library, reading-rooms, offices, etc.
                    with modern facilities. The College is accommodated in an exclusively newly-constructed spacious
                    ground plus five floors building. The library of the College is housed in a separate
                    newly-constructed building and is furnished with reference section and reading-rooms for
                    students
                    and staff. A very sophisticated Seminar Hall furnished with the most modern equipment was
                    inaugurated by Dr. Raja Ramanna, an eminent scientist of our country, on the annual day
                    celebrations
                    on 9th April, 2001. A spacious and well-furnished cafeteria is also operative in the
                    campus."
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row row-news">
            <div class="col-lg-6 news-bg">
                <p class="text-center title-news">LATEST NEWS</p>
                <div class="latest-news">
                    <div class="news red full-width">
                        <span>Breaking News</span>
                        <ul class="scrollLeft">
                            <li><a href="#">Text 1 - Short Description</a></li>
                        </ul>
                    </div>
                    <div class="news red full-width">
                        <span>Breaking News</span>
                        <ul class="scrollLeft">
                            <li><a href="#">Text 2 - Short Description</a></li>
                        </ul>
                    </div>
                    <div class="news red full-width">
                        <span>Breaking News</span>
                        <ul class="scrollLeft">
                            <li><a href="#">Text 2 - Short Description</a></li>
                        </ul>
                    </div>
                    <div class="news red full-width">
                        <span>Breaking News</span>
                        <ul class="scrollLeft">
                            <li><a href="#">Text 2 - Short Description</a></li>
                        </ul>
                    </div>
                    <div class="news red full-width">
                        <span>Breaking News</span>
                        <ul class="scrollLeft">
                            <li><a href="#">Text 2 - Short Description</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="events">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="panel act-content">
                                    <p class="text-center events-title">EVENTS</p>
                                    <div class="recent-act">

                                        {% for _event in event_db %}
                                        <div class="activity-icon terques">
                                            <i class="fa fa-check"></i>
                                        </div>

                                        <div class="activity-desk">
                                            <h2>{{ _event['date'] }}</h2>
                                            <p class="event-text">{{ _event['text'] }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="vision-mission bg-img-vision-mission">
        <div class="row g-0">
            <div class="col-lg-4">
                <div class="our-vision">
                    <p class="text-center title-vison-mission">OUR VISION</p>
                    <p class="text-our-vision-1">"To bring out the whole Muslim Community from the
                        quagmire of poverty and
                        educational backwardness
                        and encourage, enlighten and prepare all its members to be useful citizens who will
                        contribute
                        to make a prosperous, healthy and strong nation and to promote national integration
                        by giving
                        equal opportunity to all communities for their promotion and progress."</p>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="our-mission">
                    <p class="text-center title-vison-mission">OUR MISSION</p>
                    <p class="text-our-vision-mission">"To impart quality higher technical education to the
                        students of Muslim
                        Community in particular
                        and to students of all other communities to be competent, dedicated and responsible
                        citizens who
                        shall also be the harbingers of secularism and national integration to the complete
                        satisfaction
                        of all stake holders."</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="students">
                    <p class="text-center title-vison-mission">OUR STUDENTS</p>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="container">
                                <img src="{{ url_for('static', filename='image/pp.png') }}" alt="Product Image"
                                    class="product-image" style="width: 20vh;">
                                <h1>Product Title</h1>
                                <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Vestibulum
                                    lobortis, nunc ut dictum maximus, mauris odio eleifend augue, eu dictum
                                    arcu nisl eu
                                    dolor. In malesuada, dui sit amet dictum vulputate, nisi leo
                                    sollicitudin mi, ac
                                    consequat turpis nibh et urna.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <h4>2</h4>
                        </div>
                        <div class="item">
                            <h4>3</h4>
                        </div>
                        <div class="item">
                            <h4>4</h4>
                        </div>
                        <div class="item">
                            <h4>5</h4>
                        </div>
                        <div class="item">
                            <h4>6</h4>
                        </div>
                        <div class="item">
                            <h4>7</h4>
                        </div>
                        <div class="item">
                            <h4>8</h4>
                        </div>
                        <div class="item">
                            <h4>9</h4>
                        </div>
                        <div class="item">
                            <h4>10</h4>
                        </div>
                        <div class="item">
                            <h4>11</h4>
                        </div>
                        <div class="item">
                            <h4>12</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="students-recuiter">
        <p class="text-center title-news">OUR RECUITERS</p>
        <marquee behavior="scroll" direction="left">
            <img src="{{ url_for('static', filename='image/pp.png') }}" alt="Moving Image" class="moving-image">
        </marquee>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='script/script.js') }}"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            animateOut: 'slideOutDown',
            animateIn: 'flipInX',
            items: 1,
            smartSpeed: 450,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })


    </script>

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                if (scroll > 300) {
                    $(".black").css("background", "blue");
                } else {
                    $(".black").css("background", "#333");
                }
            })
        })

    </script>


</body>

</html>